<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <center>
        <div>
            <a class="btn btn-primary" href="/Home/Index">Home</a>
            <a class="btn btn-warning" href="/Home/Privacy">Privacy</a>
        </div>
    </center>
    <div>
        @RenderBody()
    </div>
</body>
</html>
